<div class="container">
    <h1 class="display-3">
        <%= user %>
    </h1>
    <p>
        <input id="activationKey" placeholder="enter your activation key...">
        <input id="submitActivationKey" type="button" value="Submit Activation Key"></p>

    </p>
    <p id="activationKeyEcho"></p>
    <ul id="my-list">
        <% for ( var i = 0; i < entitlements.length; i++ ) { 
                var entitlement = entitlements[i];%>
        <li>
            <%= entitlement.name %>
        </li>

        <% } %>


    </ul>



</div>